{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts list</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>String</th>
                <th>Telephone</th>
                <th>Site</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if contacts %}
          {% for contact in contacts %}
              <tr>
                  <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                  <td>{{ contact.string }}</td>
                  <td>{{ contact.telephone }}</td>
                  <td>{{ contact.site }}</td>
                  <td>{{ contact.adresse }}</td>
                  <td>
                      <ul>
                          <li>
                              <a href="{{ path('contact_show', { 'id': contact.id }) }}">show</a>
                          </li>
                          <li>
                              <a href="{{ path('contact_edit', { 'id': contact.id }) }}">edit</a>
                          </li>
                      </ul>
                  </td>
              </tr>
          {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_new') }}">Create a new contact</a>
        </li>
    </ul>
{% endblock %}
